*{
    padding: 0;
    margin: 0;
    font-family: Verdana;
}
header{
    background-color: #F5F5F5;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.Zona-horarios {
    padding: 0.3%;
    padding-left: 14vw;
    padding-right: -10vw;
    display:flex;
    gap: 5.5vw;
    justify-content: left;
    background-color: #07acda;
}
.Zona-horarios p{
    font-family: "Montserrat";
    font-size: 0.65vw;
    letter-spacing: 0.05em;
    color: white;
}
.Zona-buscador{
    display: flex;
    gap: 2%;
    justify-content: center;
    padding-left: 7vw;
    padding-top: 1vw;
    margin-top: -0.5vw;
}
.Logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.Logo img{
    width: 100%;
    height: 95%;
}
.Logo a{
    width: 100%;
    height: 100%;
}
form{
    display: flex;
    gap: 0;
}
.Buscador{
    width: 33vw;
    height: 2.1vw;
    padding-left: 5%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.4vw 0 0 0.4vw;
}
.Botón{
    width: 2.2vw;
    height: 2.2vw;
    color: white;
    font-size: 0.9vw;
    font-weight:60%;
    background-color: #07acda;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 0 0.4vw 0.4vw 0;
}
.Iconos{
    display: flex;
    gap: 1.2vw;
    cursor: pointer;
}
.Campana{
    display: none;
}
.Geo{
    width: 73%;
    height: 73%;
    margin-top: 0.2vw;
}
.Usuario,.Carrito{
    display: flex;
}
.Usuario img{
    width: 50px;
    height: 50px;
}
.Carrito img{
    margin-right: -0.5vw;
}
.Texto-usuario, .Texto-carrito {
    text-align: left;
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #07acda;
    margin-top: 0.5vw;
    padding-left: 0.5vw;
    white-space: nowrap;
}
.p1{
    font-size: 0.7vw;
}
.p2{
    font-size: 0.8vw;
}
.p3{
    font-size: 0.7vw;
    width: 10vw;
}
.Zona-categorías{
    padding-top: 0.8vw;
    padding-bottom: 1vw;
    display: flex;
    gap: 2.5vw;
    justify-content: center;
}
.Zona-categorías  a{
    font-family: "Montserrat";
    font-size: 0.72vw;
    color: #4e5357;
    cursor: pointer;
    text-decoration: none;
}
.Rojo{
    color: red;
}
.Zona-categorías p:hover{
    color: #07acda;
}
.Gris{
    padding-bottom: 7vw;
    background-color: #F5F5F5;
}
.Portada{
    width: 100%;
    margin-bottom: 3vw;
    cursor: pointer;
}
.Categorías {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Categoría-título {
    text-align: center;
    padding: 0.5vw 0.3vw; 
}
.Categoría-título img {
    width: 60%;
}
.Categoría-título p {
    width: 12vw;
    font-size: 90%;
    text-align: center;
    transition: 0.3s;
    font-family: "Montserrat";
}
.Categoría-título p:hover{
    color: #07acda;
}
.Títulos{
   margin-top: 3vw;
   margin-left: 13vw;
   margin-bottom: 2vw;
}
.Las-llegadas{
    display: flex;
    flex-wrap: wrap;   /* ⭐ Esto evita huecos en blanco */
    gap:0.6%;
    padding-bottom: 1.5vw;
    justify-content: center;
    cursor: pointer;
}
.Llegada{
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    width: 14vw;      /* ⭐ Establece un ancho consistente */
}
.Llegada img{
    width: 100%;       /* Evita que la imagen genere desbordes */
}
.Llegada h2{
    font-size: 70%;
    padding-left: 1vw;
    padding-top: 0.5vw;
    margin-bottom: 0.5vw;
    color: rgb(161, 161, 161);
    transition: 0.3s;
}
.Llegada h2:hover{
    color: #07acda;
}
.Llegada p{
    padding-left: 1vw;
    font-size: 0.95rem;
    padding-bottom: 0.7vw;
    font-family: "Montserrat";
    font-weight: bold;
}
.Espacio{
    height: 3vw;
}
.Final{
    margin-top: 3.5vw;
    display: flex;
    gap: 5vw;
    justify-content: left;
    padding-left: 13vw;
    margin-bottom: 30px;
}
.Final h2 {
    margin-bottom: 1vw;
    font-size: 90%;
    font-family: "Montserrat";
}
.Final h3 {
    margin-bottom: 1vw;
    font-size: 80%;
    font-family: "Montserrat";
}
.Final li{
    padding-top: 0.8vw;
    padding-left: 0.5vw;
    font-size: 80%;
    font-family:"Montserrat";
    color: #8f8f8f;
    list-style-type: "❯";
    cursor: pointer;
}
.Final li:hover{
    color: #07acda;
}
.Columna3{
    padding-left: 5vw;
}
.Final p{
    margin-top: 1vw;
    font-size: 80%;
    font-family:"Montserrat";
    color: #8f8f8f;
}
.Columna4 img{
    width: 100%;
}
.Pagos{
    background-color: #F5F5F5;
    padding-top: 2.2vw;
    text-align: right;
}
.Pagos img{
    margin-right: 12vw;
}
.Barra{
    background-color:#F5F5F5 ;
    border-bottom: 0.1vw solid rgb(194, 194, 194)
}
.Destacados{
    padding-top: 1vw;
    padding-left: 13vw;
    padding-bottom: 1.5vw;
    background-color:#F5F5F5 ;
}
.Destacados h1, p{
    font-family:"Montserrat";
}
.Destacados h1{
    font-size: 1.05vw;
}
.Destacados p{
    margin-top:0.1vw;
    font-size: 0.8vw;
}
.Categorías-banner{
    display: flex;
    gap: 1vw;
    margin-top: 2vw;
}
.Banner{
    padding-left: 13vw;
}
.Banner img{
    width: 17.5vw;
    display: block;
    margin-bottom: 0.4vw;
}
.Banner h3{
    font-family: "Montserrat";
    font-size: 0.8vw;
    font-weight: 500;
    color: white;
    background-color: rgb(24, 24, 24);
    margin-top: 1vw;
    width: 16.7vw;
    padding-left: 0.8vw;
    padding-top: 0.7vw;
    padding-bottom: 0.6vw;
    border-radius: 6px 6px 0 0;
}
.Nuevo{
    padding-top: 0.5vw;
    width: 17.5vw;
    display: flex;
}
.Nuevos-productos{
    width: 17.5vw;
}
.Nuevo img{
    width: 4.5vw;
}
.Texto-nuevo {
    justify-content: left;
    padding: 0.8vw;
}
.Texto-nuevo p{
    font-family: "Montserrat";
    font-size: 0.7em;
    color: #7e7e7e;
}
.Texto-nuevo h4 {
    font-family: "Montserrat";
    font-size: 0.8em;
    padding-top: 0.6vw;
}
.Textoxd{
    width: 15vw;
    font-family: "Montserrat";
    font-size: 0.7vw;
    padding-top: 1vw;
    padding-left: 3vw;
    color: #07acda;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s;
}
.Textoxd:hover{
    color:black;
    text-decoration: none;
}
.Categorías-pequeñas{
    margin-top: 1.7vw;
}
.Categorías-pequeñas h2{
    font-family: "Montserrat";
    font-size: 0.8vw;
}
.Subcategorías{
    width: 50vw;
    margin-top: 1vw;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2vw 5.5vw;
    margin-bottom: 3vw;
}
.Subcategoría{
    width: 5.5vw;
}
.Subcategoría img{
    width: 90%;
    padding:0.2vw;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}
.Subcategoría p{
    margin-top: 0.8vw;
    font-family: "Montserrat";
    font-size: 0.7vw;
    text-align: center;
}
.Primera-parte {
    display: flex;
}
.Cuadritos-raros {
    display: flex;
    gap: 0.8vw;
    height: 1.5vw;
    width: 30%;
    padding-right: 10vw;
}
.Cuadritos-raros img {
    width: 28%;
    height: 100%;
}
.Cuadritos-raros p {
    margin-top:0.3vw;
    font-size: 0.7vw;
    width: 25vw;
} 
.Ordenar label{
    font-family: "Montserrat";
    font-size: 0.7vw;
    padding-right: 3vw;
}
.Ordenar select{
    width: 16.5vw;
    height: 1.8vw;
    font-family: "Montserrat";
    border-color: #cacaca;
    border-radius: 2px;
}
.Productos-de-categorías{
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;   
    gap:1%;
    padding-bottom: 1.5vw;
    cursor: pointer;
}
.Prod {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
    width: 13vw;
    margin-bottom: 1.8vw;      
}
.Prod img{
    width: 100%;
    border-radius: 6px;
}
.Prod h3{
    font-family: "Montserrat";
    font-size: 0.6vw;
    font-weight: 400;
    margin-left: 0.8vw;
    margin-top: 0.5vw;
    margin-bottom: 0.4vw;
    color: #7a7a7a;
}
.Prod p{
    font-family: "Montserrat";
    font-size: 0.8vw;
    font-weight: 700;
    margin-left: 0.8vw;
    padding-bottom: 1vw;
}
.Ofertón{
    width: 52vw ;
    margin-bottom:2vw;
    margin-left: 1vw;
}
.Ofertón img{
    width: 100%;
    margin-bottom: 1vw;
}
.Ofertón p{
    font-family: "Montserrat";
    font-size: 0.68vw;
    line-height: 2;
    letter-spacing: 1.5;
    color: #8f8f8f;
}
.Ofertón p strong{
    color: black;
}
.Parrafada {
  width: 55vw;
}
.Parrafada h1{
    color: #2c9ffd;;
    font-size:1.375rem;
    font-family: Arial;
}
.Parrafada p{
    font-family: "Montserrat";
    font-size: 0.7vw;
    margin-top: 1vw;
}
.Separador{
    padding: 1vw;
}
.Separador2{
    width: 55vw;
    padding: 1vw;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.Parrafada h3{
    font-family: "Montserrat";
    font-size: 0.7vw;
    margin-top: 1vw;
}
.Texto-final p{
    width: 18vw;
    word-spacing: 0.6vw;
}
.Texto-final img{
    margin-top: 0.6vw;
}
@media (max-width: 1400px){
.Zona-buscador{
    display: flex;
    gap: 1%;
    justify-content: left;
    padding-left: 9vw;
    padding-top: 1vw;
    margin-top: 0;
}
.Logo{
    width: 20%;
    height: 20%;
}
.Buscador{
    width: 27vw;
    height: 2.8vw;
}
.Botón{
    width: 3.3vw;
    height: 3vw;
}
.p1{
    font-size: 0.9vw;
}
.p2{
    font-size: 1.1vw;
}
.p3{
    font-size: 0.9vw;
}
.Zona-categorías{
    padding-top: 1.4vw;
    padding-bottom: 1vw;
    gap: 3.2vw;
}
.Zona-categorías p{
    font-size: 1vw;
}
.Iconos{
    display: flex;
    gap: 1vw;
}
.Campana {
  margin-right: -1vw;
  display: block;
  width: 3vw;
  width: 90%;
  height: 90%;
  clip-path: inset(0 20%);
  margin-top: -0.3vw;
}
.Barra{
    padding-bottom: 9.5vw;
}
.Gris{
    padding-bottom: 0vw;
}
.Portada{
    margin-top: 8.5vw;
}
.Categoría-título {
    padding: 0.5vw 0.3vw; 
}
.Categoría-título p {
    font-size: 70%;
}
.Últimas-llegadas{
   margin-top: 5vw;
   margin-left: 5vw;
}
}